body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color:bisque;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    background-color:beige;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
